[submodule "mPower-Android"]
	path = mPower-Android
	url = https://github.com/Sage-Bionetworks/mPower-Android.git
[submodule "CardiorespiratoryFitness-Android"]
	path = CardiorespiratoryFitness-Android
	url = https://github.com/Bionetworks/CardiorespiratoryFitness-Android.git
[submodule "BridgeAndroidSDK"]
	path = BridgeAndroidSDK
	url = https://github.com/Sage-Bionetworks/BridgeAndroidSDK.git
